<h1>Hola Putos</h1>

<ul>
    <li>Nombre: {{ nombre }}</li>
    <li>Apellido: {{ apellido }}</li>
    <li>telefono: {{ telefono }}</li>
</ul>

<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="">
  Enviar
</button>